Repository kubearchive/kubearchive, pull requests merged in 2024-11, with the labels that each got.

#599 Fix result ordering
  cmd/api/pagination/pagination.go
  cmd/api/pagination/pagination_test.go
  cmd/api/routers/routers.go
  go.mod
  integrations/database/postgresql/install.sh
  integrations/database/postgresql/kubearchive.sql
  pkg/database/database.go
  pkg/database/database_test.go
  pkg/database/fake/database_generated.go
  pkg/database/postgresql.go
Labels: kind/bug

#612 Unify labels for KubeArchive components
  charts/kubearchive/templates/api_server/api_server.yaml
  charts/kubearchive/templates/api_server/certificates.yaml
  charts/kubearchive/templates/api_server/role.yaml
  charts/kubearchive/templates/api_server/role_binding.yaml
  charts/kubearchive/templates/api_server/service_account.yaml
  charts/kubearchive/templates/operator/auth_proxy_client_clusterrole.yaml
  charts/kubearchive/templates/operator/auth_proxy_role.yaml
  charts/kubearchive/templates/operator/auth_proxy_role_binding.yaml
  charts/kubearchive/templates/operator/auth_proxy_service.yaml
  charts/kubearchive/templates/operator/certificates.yaml
  charts/kubearchive/templates/operator/kubearchiveconfig_editor_role.yaml
  charts/kubearchive/templates/operator/kubearchiveconfig_viewer_role.yaml
  charts/kubearchive/templates/operator/leader_election_role.yaml
  charts/kubearchive/templates/operator/leader_election_role_binding.yaml
  charts/kubearchive/templates/operator/monitor.yaml
  charts/kubearchive/templates/operator/operator.yaml
  charts/kubearchive/templates/operator/role_binding.yaml
  charts/kubearchive/templates/operator/service.yaml
  charts/kubearchive/templates/operator/service_account.yaml
  charts/kubearchive/templates/operator/sink_filters.yaml
  charts/kubearchive/templates/operator/webhooks.yaml
  charts/kubearchive/templates/sink/role.yaml
  charts/kubearchive/templates/sink/role_binding.yaml
  charts/kubearchive/templates/sink/service_account.yaml
  charts/kubearchive/templates/sink/sink.yaml
  charts/kubearchive/values.yaml
  hack/kubearchive-install.sh
  hack/release.sh
Labels: kind/feature, area/deployment

#609 Retrieve log urls
  cmd/api/auth/authz.go
  cmd/api/auth/authz_test.go
  cmd/api/main.go
  cmd/api/pagination/pagination.go
  cmd/api/pagination/pagination_test.go
  cmd/api/routers/routers.go
  cmd/api/routers/routers_test.go
  integrations/database/postgresql/README.md
  pkg/database/database.go
  pkg/database/database_test.go
  pkg/database/fake/database_generated.go
  pkg/database/fake/database_generated_test.go
  pkg/database/mariadb.go
  pkg/database/postgresql.go
  pkg/database/query.go
  test/integration/integration_test.go
Labels: kind/feature, area/database, component/api

#604 Added docs related with usage
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/getting-started/configuration.adoc
  docs/modules/ROOT/pages/getting-started/installation.adoc
  docs/modules/ROOT/pages/getting-started/kubearchive-api.adoc
  docs/modules/ROOT/pages/index.adoc
Labels: kind/documentation

#639 enable additional checks in `golangci-lint`
  .golangci.yml
  cmd/api/main.go
  cmd/operator/api/v1alpha1/kubearchiveconfig_webhook.go
  cmd/operator/internal/controller/kubearchiveconfig_controller.go
  cmd/sink/filters/filters.go
  hack/get-next-version.go
  pkg/observability/trace.go
Labels: component/operator, component/api, component/sink, area/ci, area/release

#640 Add sqlx for structscan support
  go.mod
  go.sum
  pkg/database/connection.go
  pkg/database/database.go
  pkg/database/database_test.go
  pkg/database/query.go
Labels: kind/feature, area/database

#607 Add `log_url` table to MariaDB
  integrations/database/mariadb/kubearchive.sql
Labels: area/database

#643 Small fixes on the docs
  docs/modules/ROOT/pages/index.adoc
  docs/modules/ROOT/pages/reference/api.adoc
Labels: kind/documentation, kind/bug

#637 Add log url retrieval integration test
  go.mod
  go.sum
  test/integration/integration_test.go
Labels: kind/feature, area/ci

#618 Fix DB instrumentation initialization
  pkg/database/connection.go
Labels: kind/bug, area/database

#646 use knative brokers to handle event delivery
  charts/kubearchive/templates/eventing/brokers.yaml
  charts/kubearchive/templates/sink/trigger.yaml
  cmd/operator/internal/controller/kubearchiveconfig_controller.go
  hack/quick-install.sh
Labels: component/operator, area/deployment

#658 fix how operator determines sink name
  cmd/operator/internal/controller/kubearchiveconfig_controller.go
Labels: kind/bug, component/operator

#664 Address intermittent failure on a test
  test/integration/integration_test.go
Labels: kind/bug

#629 Add basic performance test
  .github/workflows/performance.yml
  .gitignore
  integrations/observability/grafana/install.sh
  pkg/observability/trace.go
  test/performance/README.md
  test/performance/limits.gotemplate
  test/performance/locustfile.py
  test/performance/metrics/main.go
  test/performance/pod.json
  test/performance/requirements.txt
  test/performance/run.sh
  test/performance/stats/main.go
Labels: kind/feature, area/performance

#661 Change postgreSQL version to 16.2
  integrations/database/postgresql/kubearchive.sql
  integrations/database/postgresql/postgres.yaml
Labels: area/database

#675 Refactor errors
  cmd/api/abort/abort.go
  cmd/api/auth/authn.go
  cmd/api/auth/authz.go
  cmd/api/discovery/apiresources.go
  cmd/api/pagination/pagination.go
  cmd/api/routers/routers.go
Labels: kind/bug

#681 Update Splunk related development instructions
  DEVELOPMENT.md
Labels: kind/documentation
