Repository kubearchive/kubearchive, pull requests merged in 2024-08, with the labels that each got.

#302 Operator needs to provide an empty sink-filters ConfigMap.
  charts/kubearchive/templates/operator/sink_filters.yaml
Labels: kind/bug, operator

#310 Operator creates invalid cel expressions in KubeArchiveConfig.
  charts/kubearchive/templates/test/kac.yaml
  docs/modules/ROOT/pages/configuration/kubearchiveconfig.adoc
  test/integration/integration_test.go
Labels: kind/bug, operator

#216 Apply naming conventions for operator in chart
  charts/kubearchive/templates/operator/auth_proxy_client_clusterrole.yaml
  charts/kubearchive/templates/operator/auth_proxy_role.yaml
  charts/kubearchive/templates/operator/auth_proxy_role_binding.yaml
  charts/kubearchive/templates/operator/auth_proxy_service.yaml
  charts/kubearchive/templates/operator/kubearchiveconfig_editor_role.yaml
  charts/kubearchive/templates/operator/kubearchiveconfig_viewer_role.yaml
  charts/kubearchive/templates/operator/leader_election_role.yaml
  charts/kubearchive/templates/operator/leader_election_role_binding.yaml
  charts/kubearchive/templates/operator/monitor.yaml
  charts/kubearchive/templates/operator/operator.yaml
  charts/kubearchive/templates/operator/role_binding.yaml
  charts/kubearchive/templates/operator/service_account.yaml
  charts/kubearchive/templates/sink/sink.yaml
  charts/kubearchive/values.yaml
  cmd/operator/generate.sh
Labels: kind/feature

#308 Removal of duplicate code in GitHub actions
  .github/workflows/documentation-build.yaml
  .github/workflows/documentation-release.yaml
  .github/workflows/gitleaks.yml
  .github/workflows/go_test.yml
  .github/workflows/go_test_integration.yml
  .github/workflows/golangci_lint.yml
  .github/workflows/log_run_details.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/static_code_analysis.yml
Labels: kind/documentation

#309 Implement OpenTelemetry in the operator.
  charts/kubearchive/templates/operator/operator.yaml
  cmd/operator/main.go
Labels: kind/feature, component/operator

#329 How to enable traces on development
  DEVELOPMENT.md
  charts/kubearchive/templates/_helpers.tpl
  charts/kubearchive/templates/traces-collector.yaml
Labels: kind/feature, area/metrics

#321 add retries to the database connection
  go.mod
  go.sum
  pkg/database/database.go
  test/integration/integration_test.go
Labels: area/database

#339 Validate CEL expressions in KubeArchiveConfig.
  charts/kubearchive/templates/operator/certificates.yaml
  charts/kubearchive/templates/operator/operator.yaml
  charts/kubearchive/templates/operator/service.yaml
  charts/kubearchive/templates/operator/webhooks.yaml
  charts/kubearchive/values.yaml
  cmd/operator/api/v1alpha1/kubearchiveconfig_webhook.go
  cmd/operator/generate.sh
  cmd/operator/main.go
Labels: kind/feature

#341 Add version and commit vars to components
  .ko.yaml
  cmd/api/main.go
  cmd/operator/main.go
  cmd/sink/main.go
  hack/release.sh
Labels: kind/feature

#355 Refactor integration tests to use retries
  test/integration/integration_test.go
  test/main.go
Labels: kind/feature, area/performance

#364 Remove next() before return on middleware
  cmd/api/auth/authn.go
  cmd/api/auth/authz.go
  cmd/api/discovery/apiresources.go
  cmd/api/routers/routers_test.go
Labels: kind/feature, component/api

#353 Add docs and update helm chart to allow interactively debug operator
  DEVELOPMENT.md
  charts/kubearchive/templates/api_server/api_server.yaml
  charts/kubearchive/templates/operator/operator.yaml
  charts/kubearchive/templates/operator/service.yaml
  charts/kubearchive/values.yaml
Labels: kind/feature, area/helm, component/operator
