Repository kubearchive/kubearchive, pull requests merged in 2025-06, with the labels that each got.

#1093 Merge requests performance reports
  test/performance/merge.sh
  test/performance/merge/main.go
  test/performance/req.gnuplot
  test/performance/run.sh
Labels: kind/feature, area/ci, size/small, area/performance, size/extra-small

#1088 Add aggregated ClusterRoles
  config/kustomization.yaml
  config/templates/clusterroles.yaml
Labels: kind/feature, area/deployment, size/extra-small

#1080 Sink no configured resources
  cmd/sink/filters/fake/filters.go
  cmd/sink/filters/filters.go
  cmd/sink/filters/filters_test.go
  cmd/sink/routers/routers.go
  docs/modules/ROOT/pages/configuration/observability.adoc
  pkg/observability/metrics.go
Labels: kind/feature, component/sink, size/small

#1073 Add documentation regarding CEL expressions storage
  docs/modules/ROOT/pages/design/decisions.adoc
Labels: kind/bug, size/medium, area/performance

#1118 Add DB check on startup
  pkg/database/database.go
  pkg/database/database_test.go
  pkg/database/fake/database_generated.go
Labels: kind/bug, area/database, size/small

#1140 Add 'issues' permissions to the workflow
  .github/workflows/golangci_lint.yml
Labels: kind/bug, area/ci, size/extra-small

#1142 downgrade to go1.23.9
  cmd/sink/filters/filters.go
  cmd/sink/filters/filters_test.go
  go.mod
  go.sum
Labels: kind/bug, area/ci, size/extra-small

#1115 Inserting resources and logs are now a single transaction
  cmd/sink/routers/routers.go
  pkg/database/fake/database_generated.go
  pkg/database/fake/database_generated_test.go
  pkg/database/interfaces/database.go
  pkg/database/sql/mariadb.go
  pkg/database/sql/mariadb_test.go
  pkg/database/sql/postgresql.go
  pkg/database/sql/postgresql_test.go
  pkg/database/sql/writer.go
Labels: kind/feature, area/database, component/sink
