Repository kubearchive/kubearchive, pull requests merged in 2025-08, with the labels that each got.

#1203 Add kubectl archive config
  DEVELOPMENT.md
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/cli/configuration.adoc
  go.mod
  pkg/cmd/cmd_test.go
  pkg/cmd/config/config.go
  pkg/cmd/config/config_test.go
  pkg/cmd/config/testdata/kubeconfig.yaml
  pkg/cmd/config/testdata/test-cert.crt
  pkg/cmd/get.go
  pkg/cmd/get_test.go
  pkg/cmd/logs.go
  pkg/cmd/logs_test.go
  pkg/cmd/testdata/expected_yaml_output.yaml
Labels: kind/feature, component/cli, size/medium

#1254 Add route att to http client metrics
  cmd/api/main.go
  cmd/operator/api/v1/namespacevacuumconfig_webhook.go
  cmd/sink/k8s/client.go
  cmd/sink/main.go
  cmd/vacuum/cluster_vacuum.go
  cmd/vacuum/namespace_vacuum.go
  pkg/cloudevents/sink_publisher.go
  pkg/k8sclient/client.go
  pkg/k8sclient/transport.go
  pkg/k8sclient/transport_test.go
Labels: kind/feature, component/cli, component/api, component/sink, area/metrics, size/medium, size/large, size/extra-small

#1247 Fix links in docs
  docs/modules/ROOT/pages/integrations/database.adoc
Labels: kind/documentation, size/extra-small

#1271 Create spans on Sink functions
  cmd/sink/filters/filters.go
  cmd/sink/routers/routers.go
  pkg/cel/cel.go
  pkg/logging/logging.go
  pkg/logurls/logurls.go
Labels: kind/feature, component/sink, area/metrics, size/medium

#1273 revert to go1.23
  go.mod
  go.sum
  renovate.json
Labels: kind/bug, area/ci, size/extra-small

#1255 Rename kubectl-archive to kubectl-ka
  cmd/kubectl-ka/main.go
  pkg/cmd/config/config.go
  pkg/cmd/config/config_test.go
  pkg/cmd/get.go
  pkg/cmd/get_test.go
  pkg/cmd/logs.go
  pkg/cmd/logs_test.go
Labels: kind/feature, component/cli, size/extra-small

#1292 downgrade to go1.23
  .github/workflows/go_test.yml
  .github/workflows/go_test_integration.yml
  .github/workflows/golangci_lint.yml
  .github/workflows/performance-recap.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/static_code_analysis.yml
  go.mod
  go.sum
  pkg/database/sql/mariadb_test.go
  pkg/database/sql/postgresql_test.go
  renovate.json
Labels: kind/bug, area/ci, size/extra-small

#1294 sink only writes resources to db from namespaces configured by users
  cmd/sink/filters/fake/filters.go
  cmd/sink/filters/fake/filters_test.go
  cmd/sink/filters/filters.go
  cmd/sink/filters/filters_test.go
  cmd/sink/filters/testdata/sf-archive-on-delete.yaml
  cmd/sink/filters/testdata/sf-archive.yaml
  cmd/sink/filters/testdata/sf-delete.yaml
  cmd/sink/routers/routers_test.go
Labels: kind/bug, component/sink, area/performance
