Repository kubearchive/kubearchive, pull requests merged in 2025-05, with the labels that each got.

#1049 Change API group to kubearchive.org.
  .gitignore
  cmd/operator/api/v1alpha1/clusterkubearchiveconfig_types.go
  cmd/operator/api/v1alpha1/clusterkubearchiveconfig_webhook.go
  cmd/operator/api/v1alpha1/clustervacuumconfig_types.go
  cmd/operator/api/v1alpha1/clustervacuumconfig_webhook.go
  cmd/operator/api/v1alpha1/groupversion_info.go
  cmd/operator/api/v1alpha1/kubearchiveconfig_types.go
  cmd/operator/api/v1alpha1/kubearchiveconfig_webhook.go
  cmd/operator/api/v1alpha1/namespacevacuumconfig_types.go
  cmd/operator/api/v1alpha1/namespacevacuumconfig_webhook.go
  cmd/operator/api/v1alpha1/sinkfilter_types.go
  cmd/operator/api/v1alpha1/sinkfilter_webhook.go
  cmd/operator/internal/controller/clusterkubearchiveconfig_controller.go
  cmd/operator/internal/controller/common.go
  cmd/operator/internal/controller/kubearchiveconfig_controller.go
  cmd/sink/filters/filters_test.go
  cmd/sink/filters/testdata/sf.yaml
  cmd/sink/routers/routers_test.go
  config/kustomization.yaml
  config/templates/operator/kubearchiveconfig_editor_role.yaml
  config/templates/operator/kubearchiveconfig_viewer_role.yaml
  config/templates/operator/vacuum.yaml
  config/templates/operator/webhooks.yaml
  config/templates/sink/role.yaml
  docs/modules/ROOT/pages/configuration/global-filters.adoc
  docs/modules/ROOT/pages/configuration/kubearchiveconfig.adoc
  docs/modules/ROOT/pages/design/logging-integration.adoc
  docs/modules/ROOT/pages/getting-started/configuration.adoc
  docs/modules/ROOT/pages/integrations/logging.adoc
  docs/modules/ROOT/pages/reference/vacuum.adoc
  pkg/files/testdata/filesWithDotDot/..one
  pkg/files/testdata/filesWithDotDot/..three
  pkg/files/testdata/filesWithDotDot/..two
  test/integration/testdata/ckac-with-pod.yaml
  test/integration/testdata/cvc-empty.yaml
  test/integration/testdata/kac-empty.yaml
  test/integration/testdata/kac-with-job.yaml
  test/integration/testdata/kac-with-resources.yaml
  test/integration/testdata/nvc-empty.yaml
  test/log-generators/cronjobs/kaconf.yaml
  test/log-generators/pipelines/kaconf.yaml
  test/performance/run.sh
Labels: kind/feature, kind/breaking, component/operator

#1060 Remove the step 'Log Run Details' from our workflows
  .github/workflows/assign-reviewers.yml
  .github/workflows/check-labels.yml
  .github/workflows/copy-labels.yml
  .github/workflows/documentation-build.yaml
  .github/workflows/documentation-release.yaml
  .github/workflows/gitleaks.yml
  .github/workflows/go_test.yml
  .github/workflows/go_test_integration.yml
  .github/workflows/golangci_lint.yml
  .github/workflows/log_run_details.yml
  .github/workflows/performance-recap.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/static_code_analysis.yml
Labels: kind/feature, area/ci, size/extra-small

#1051 Encode key for cache using sha256
  pkg/cache/cache.go
Labels: kind/bug, component/api, size/small

#1064 Add resources from ClusterKubeArchiveConfig to sink Role.
  cmd/operator/internal/controller/kubearchiveconfig_controller.go
Labels: kind/bug, component/operator

#1057 Remove kubearchive.sql from the release
  hack/release.sh
Labels: kind/bug, size/small, area/release

#1067 Add controller-runtime operator tests.
  .github/workflows/go_test.yml
  .licenserc.json
  cmd/operator/generate.sh
  cmd/operator/internal/controller/clusterkubearchiveconfig_controller_test.go
  cmd/operator/internal/controller/common.go
  cmd/operator/internal/controller/kubearchiveconfig_controller.go
  cmd/operator/internal/controller/kubearchiveconfig_controller_test.go
  cmd/operator/internal/controller/suite_test.go
  cmd/operator/internal/controller/testdata/crds/apiserversource-crd.yaml
  cmd/operator/internal/controller/testdata/crds/broker.yaml
  pkg/constants/constants.go
  test/integration/operator_test.go
  test/main.go
Labels: kind/feature, component/operator, area/ci

#1058 Bump APIGroup to v1
  cmd/operator/api/v1/clusterkubearchiveconfig_types.go
  cmd/operator/api/v1/clusterkubearchiveconfig_webhook.go
  cmd/operator/api/v1/clusterkubearchiveconfig_webhook_test.go
  cmd/operator/api/v1/clustervacuumconfig_types.go
  cmd/operator/api/v1/clustervacuumconfig_webhook.go
  cmd/operator/api/v1/clustervacuumconfig_webhook_test.go
  cmd/operator/api/v1/groupversion_info.go
  cmd/operator/api/v1/kubearchiveconfig_types.go
  cmd/operator/api/v1/kubearchiveconfig_webhook.go
  cmd/operator/api/v1/kubearchiveconfig_webhook_test.go
  cmd/operator/api/v1/namespacevacuumconfig_types.go
  cmd/operator/api/v1/namespacevacuumconfig_webhook.go
  cmd/operator/api/v1/namespacevacuumconfig_webhook_test.go
  cmd/operator/api/v1/sinkfilter_types.go
  cmd/operator/api/v1/sinkfilter_webhook.go
  cmd/operator/api/v1/sinkfilter_webhook_test.go
  cmd/operator/generate.sh
  cmd/operator/internal/controller/clusterkubearchiveconfig_controller.go
  cmd/operator/internal/controller/clusterkubearchiveconfig_controller_test.go
  cmd/operator/internal/controller/common.go
  cmd/operator/internal/controller/kubearchiveconfig_controller.go
  cmd/operator/internal/controller/kubearchiveconfig_controller_test.go
  cmd/operator/internal/controller/suite_test.go
  cmd/operator/main.go
  cmd/sink/filters/filters.go
  cmd/sink/filters/filters_test.go
  cmd/sink/filters/testdata/sf.yaml
  cmd/sink/routers/routers.go
  cmd/sink/routers/routers_test.go
  cmd/vacuum/cluster_vacuum.go
  cmd/vacuum/namespace_vacuum.go
  config/templates/operator/webhooks.yaml
  docs/modules/ROOT/pages/configuration/global-filters.adoc
  docs/modules/ROOT/pages/configuration/kubearchiveconfig.adoc
  docs/modules/ROOT/pages/design/logging-integration.adoc
  docs/modules/ROOT/pages/getting-started/configuration.adoc
  docs/modules/ROOT/pages/integrations/logging.adoc
  docs/modules/ROOT/pages/reference/vacuum.adoc
  pkg/cloudevents/sink_publisher.go
  test/integration/cluster_vacuum_test.go
  test/integration/namespace_vacuum_test.go
  test/integration/operator_test.go
  test/integration/testdata/ckac-with-pod.yaml
  test/integration/testdata/cvc-empty.yaml
  test/integration/testdata/kac-empty.yaml
  test/integration/testdata/kac-with-job.yaml
  test/integration/testdata/kac-with-resources.yaml
  test/integration/testdata/nvc-empty.yaml
  test/log-generators/cronjobs/kaconf.yaml
  test/log-generators/pipelines/kaconf.yaml
  test/main.go
  test/performance/run.sh
Labels: kind/feature, kind/breaking, area/deployment, size/extra-small

#1079 Fix constant names
  pkg/constants/constants.go
Labels: kind/bug, size/extra-small

#1083 Fix panic recovered error on invalid label selectors
  cmd/api/routers/routers.go
Labels: kind/bug, component/api, size/extra-small

#1075 Add doc entry about delayed deletes
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/configuration/delayed-deletes.adoc
  docs/modules/ROOT/pages/reference/vacuum.adoc
Labels: component/sink, size/small

#1071 Add loki logging integration
  .github/workflows/go_test_integration.yml
  cmd/api/logging/logging.go
  cmd/api/logging/logging_test.go
  cmd/api/logging/testdata/headers/Authorization
  cmd/api/logging/testdata/headers/X-Scope-OrgID
  cmd/api/main.go
  cmd/api/main_test.go
  config/templates/logging/secret.yaml
  docs/modules/ROOT/pages/integrations/logging.adoc
  integrations/logging/loki/README.md
  integrations/logging/loki/install.sh
  integrations/logging/loki/manifests/cluster-flow.yaml
  integrations/logging/loki/manifests/cluster-output.yaml
  integrations/logging/loki/manifests/logging.yaml
  integrations/logging/loki/patch-logging-configmap.yaml
  integrations/logging/loki/patch-logging-secret.yaml
  integrations/logging/loki/uninstall.sh
  integrations/logging/loki/values.grafana.yaml
  integrations/logging/loki/values.loki.yaml
  integrations/logging/loki/values.minio.yaml
  integrations/logging/splunk/install.sh
  integrations/logging/splunk/patch-logging-configmap.yaml
  integrations/logging/splunk/uninstall.sh
  pkg/cel/cel.go
  pkg/logurls/logurls_test.go
  pkg/logurls/testdata/loki-cm.json
  pkg/logurls/testdata/loki-test3-urls.json
  pkg/logurls/testdata/test3-data.json
  test/integration/logging_test.go
  test/integration/operator_test.go
Labels: kind/feature, component/api, size/large
